/a-sync-core/build/
/a-sync-core/out/
/a-sync-relay/build/
/a-sync-relay/out/
/a-sync-http-relay/build/
/a-sync-http-relay/out/
/a-sync-bep/build/
/a-sync-bep/out/
/a-sync-repository/build/
/a-sync-repository/out/
/a-sync-discovery/build/
/a-sync-discovery/out/
/a-sync-client/build/
/a-sync-client/out/
/a-sync-http-relay-server/build/
/a-sync-http-relay-server/out/
a-sync-parent/
build/
.idea/
.gradle/
*.iml
