/core/build/
/core/out/
/relay/build/
/relay/out/
/http-relay/build/
/http-relay/out/
/bep/build/
/bep/out/
/repository/build/
/repository/out/
/discovery/build/
/discovery/out/
/client/build/
/client/out/
build/
.idea/
.gradle/
*.iml
