/a-sync-core/build/
/a-sync-relay/build/
/a-sync-http-relay/build/
/a-sync-bep/build/
/a-sync-repository/build/
/a-sync-discovery/build/
/a-sync-client/build/
/a-sync-http-relay-server/build/
build/
.idea/
.gradle/
*.iml
